# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# We currently do not have any specific code owners
# In the future, we will have a Github team of global code owners of the entire package
# Later on, we will start splitting up the responsibilities, and packages will be assigned more specific code owners
* @opentofu/maintainers

# The last matching pattern takes the most
# precedence for CODEOWNERS. This user is responsible for taking care of the Dependabot issues: there's a false positive though,
# since we cannot match specific keys of the file and assign only when dependencies are being changed. For now, this should be
# good enough.
package.json @diofeher
