name: 'Continuous Integration'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  check-dist:
    name: Check dist/ directory
    uses: actions/reusable-workflows/.github/workflows/check-dist.yml@2826fb8353263a138210fc017301ce5767a9c0d4
    with:
      node-version: "24.x"
  test:
    name: Test
    uses: actions/reusable-workflows/.github/workflows/basic-validation.yml@2826fb8353263a138210fc017301ce5767a9c0d4
    with:
      node-version: "24.x"
